<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KPSushiBar.Properties.Settings.kp_v_3_1betaConnectionString"
            connectionString="Data Source=DESKTOP-AVKS5AE\FAILBDS;Initial Catalog=&quot;kp v.3.1beta&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>